.cardBody {
  display: flex;
  justify-content: center;
}

.continueButtonContainer Button {
  background-color: rgb(49, 75, 205);
  color: white;
  font-weight: 500;
}

.continueButtonContainer Button:hover {
  background-color: rgb(117, 132, 207);
  color: white;
  font-weight: 500;
}

.codeBoxHeader {
  font-weight: bold;
  font-size: 27px;
}
