.submenu {
  position: absolute;
  width: 230px;
  opacity: 0;
  padding: 10px;
  transition: 0.1s ease-in-out;
  z-index: -1;
  background-color: #ffffff;
  margin-top: -10px;
  text-align: left;
  border-radius: 5px;
}

.submenu li {
  list-style: none;
  padding: 5px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.submenu li:hover .submenu-text {
  color: rgb(216, 154, 37);
  cursor: pointer;
}

hr {
  width: 200px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.small-text {
  font-size: 12px;
  font-weight: normal;
  color: #555555;
}
