.container {
    background-color: hsl(0, 0%, 99%);
    padding: 50px;
    padding-top: 40px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 
    -10px 0px 15px rgba(211, 113, 113, 0.2), /* Left shadow */
    10px 0px 15px rgba(211, 113, 113, 0.2),  /* Right shadow */
    0px 7px 10px rgba(239, 19, 19, 0.4);  /* Bottom shadow */
}

.container h2 {
    color: rgb(161, 37, 37);
}

.paragraph-container span {
    color: rgb(255, 115, 0);
}