.logoContainer {
    margin: 0 10px;
    padding: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-backgroundColor);
}

.header {
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  p {
    display: inline;
  }

.header.light {
  --header-backgroundColor: #f7f7f7;
}

.header.dark {
  --header-backgroundColor: #0d1017;
}