.reservation-box {
  position: relative;
  width: 500px;
  min-width: 300px;
  padding: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: 70vh;
  overflow-y: auto;
  margin-left: 60px;
  margin-top: 20px;
}

.room-image {
  width: 500px;
  height: 230px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.amenities-list {
  list-style-type: disc;
  padding-left: 20px;
}

.date-selection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.time-selection {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.reservation-form label {
  font-size: 16px;
}

.member-box {
  margin-bottom: 20px;
}

.member-box span {
  color: red;
  font-size: 12px;
}

.form-buttons {
  margin-top: 120px;
}

.invitationPending{
  color: #fe9705;
  font-size: 15px;
  font-weight: bold;
}

.invitationAccept {
  color: #3ac430;
  font-size: 15px;
  font-weight: bold;
}

.invitationDecline{
  color: red;
  font-size: 15px;
  font-weight: bold;
}

@media screen and (max-width: 1900px) {
  .reservation-box {
    width: 450px;
  }
}

@media screen and (max-width: 1400px) {
  .reservation-box {
    width: 400px;
  }
  .time-selection {
    grid-template-columns: repeat(4, 1fr);
  }
  .date-selection {
    flex-direction: column;
    gap: 9px;
  }
}