html {
  scroll-behavior: auto !important;
}

.App {
  background-color: #0d1017;
  font-family: "Mona Sans" !important;
}

.navContainer {
  display: flex;
  justify-content: flex-end;
}

.navContainer ul li{
  display: inline;
  margin-right: 30px;
  color: white;
}