.App {
  text-align: center;
  background-color: black;
}
.navContainer {
  display: flex;
  justify-content: flex-end;
}

.navContainer ul li{
  display: inline;
  margin-right: 30px;
  color: white;
}