.Home {
    background-color: #0d1017;
    font-family: "Mona Sans" !important;
  }
  
  .navContainer {
    display: flex;
    justify-content: flex-end;
  }
  
  .navContainer ul li{
    display: inline;
    margin-right: 30px;
    color: white;
  }
  
  @font-face {
    font-family: 'Mona Sans'; 
    src: url('../font/Mona-Sans.ttf') format('truetype'); /* Correct format */
  }
  
  .carousel {
      margin-top: 50px;
  }