.Box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    margin-top: -10px;
    border-radius: 20px;
}

.carousel {
    margin-bottom: 50px;
}

.box-header {
    text-align: center;
    color: white;
}

.box-content {
    display: flex;
    justify-content: center;
    margin: 40px;
    align-items: center;
}

.box-img-container {
    margin-right: 20px;
}

.box-img-container img {
    box-shadow: 4px 4px 50px hsla(0, 0%, 100%, 0.4);
    transition: 0.5s ease-in-out;
}

.box-img-container img:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.uni-img {
    width: 650px;
    height: auto;
    border-radius: 10px;
}

.box-text {
    width: 70%;
    color: white;
    margin: 20px;
}

.box-text Button {
    color: rgb(216, 154, 37);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.box-text Button:hover {
    color: white;
}

.box-button-container {
    margin-top: 20px;
    margin-left: 13px;
}

.box-logo-container {
    margin-bottom: 20px;
    padding-bottom: 0px;
    margin-top: -30px;
}

.box-paragraph-container {
    margin-left: 30px;
}


@media (max-width: 1300px){
    .box-content {
        flex-direction: column;
    }

    .box-text {
        margin-top: 40px;
        padding: 0 20px;
        width: 100%;
        text-align: center;
    }

}