.carousel-content {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically centers content */
    text-align: left;
}

.carousel-image-container {
    margin-right: 100px;
}

.carousel-image-container img {
    border-radius: 50px;
    width: 1000px;
    height: 600px;
}

.carousel-description {
    margin-top: 50px;
    max-width: 400px;
}

.carousel-description p {
    color: white;
    opacity: 0.7;
}

.carousel-description h3 {
    color: white;
}

.carousel-indicators {
    position: absolute;
    bottom: -60px;
}

.carousel-container {
    text-align: center;
    max-width: 100%; /* Ensures it doesn't exceed the screen width */
    margin: 0 auto;  /* Centers the carousel horizontally */
    position: relative;
}

@media (max-width: 1600px){
    .carousel-container {
        width: 90%; /* Reduce the container width */
    }

    .carousel-image-container img {
        width: 100%; /* Let the image scale based on the container */
    }

    .carousel-content {
        flex-direction: row; /* Stack image and description vertically */
        align-items: center;
    }

    .carousel-inner {
        margin-left: 0;
    }
}

@media (max-width: 1800px) {
    .carousel-control-prev {
        left: -70px;
    }

    .carousel-control-next {
        right: -70px;
    }

    .carousel {
        margin-bottom: 125px;
    }
}