.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  display: inline-block;
  margin-right: 30px;
  font-size: 20px;
  color: var(--nav-text);
}

.navBar ul li:hover .submenu {
  z-index: 99;
  opacity: 1;
  margin-top: 10px;
  background-color: var(--submenu-backgroundColor);
}

.btnContainer {
  display: flex;
  margin-left: 80px;
} 

.navBar.dark {
  --nav-text: white;
  --submenu-backgroundColor: white;
}

.navBar.light {
  --nav-text: black;
  --submenu-backgroundColor: #f7f7f7;
}

.navBar.glasgow {
    --nav-text: white;
    --submenu-backgroundColor: aliceblue;
}