.btn {
    padding: 8px 17px; 
    border-radius: 8px;
    border: 1px solid white;
    background: transparent;
    color: white;
    margin-right: 20px;
    font-size: 14px;
}

.btn:hover {
    color: rgb(216, 154, 37);
    border-color: rgb(216, 154, 37);
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.btn:active {
    opacity: 0.5;
}