.btn {
    padding: 8px 17px; 
    border-radius: 8px;
    border: var(--btn-border);
    background: transparent;
    color: var(--btn-color);
    margin-right: 20px;
    font-size: 14px;
}

.btn:hover {
    color: rgb(216, 154, 37);
    border-color: rgb(216, 154, 37);
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.btn:active {
    opacity: 0.5;
}

.btn.dark {
    --btn-border: 1px solid white;
}

.btn.light {
    --btn-border: 1px solid black;
    --btn-color: black;
}

.btn.glasgow {
    --btn-border: 1px solid white;
}