.queensland-Container1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.queensland-Container1 hr {
  width: 1000px;
  margin-top: 25px;
}

.queensland-imgContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.queensland-article1,
.queensland-article2,
.queensland-article3,
.queensland-article4 {
  padding: 50px;
  text-align: left;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}

.queensland-article1 h2,
.queensland-article2 h2,
.queensland-article3 h2,
.queensland-article4 h2 {
  margin-top: 16px;
  color: #951b6f;
  font-weight: bold;
}

.queensland-article1 h1,
.queensland-article2 h1,
.queensland-article3 h1,
.queensland-article4 h1 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #003865;
}

.queensland-article2,
.queensland-article3,
.queensland-article4 {
  margin-top: 80px;
}

.queensland-article2 h4 {
    color: #951b6f;
    font-weight: bold;
}