.circle {
  border: 2px solid white;
  padding: 4px;
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: 
    0 0 50px rgba(242, 140, 40, 0.6),
    0 0 40px rgba(242, 140, 40, 0.7),
    0 0 20px rgba(242, 140, 40, 0.9);
}
