.footer-main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--footer-backgroundColor);
    height: 200px;
    margin-top: 150px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    width: 400px;
}

.footer-copyright p {
    text-align: center;
    color: var(--footer-copyright-p-color);
}

.footer-logo {
    display: flex;
    justify-content: center;
    width: 400px;
}

.footer-social {
    display: flex;
    justify-content: center;
    width: 400px;
}

.footer-social li {
    display: inline-block;
    margin-right: 24px;
}

.footer-social ul {
    margin: 0;
    padding: 0;
}

.footer-social li img{
    width: 75px;
}


.footer-main-container.light {
    --footer-backgroundColor: white;
    --footer-copyright-p-color: black;
}

.footer-main-container.dark {
    --footer-backgroundColor: hsl(222, 28%, 4%);
    --footer-copyright-p-color: white;
}  